<div class="row">
  <div class="col-sm-6">
    <a [routerLink]="['/registrarFotografo']" class="btn btn-success">
      Registrar Fotografo
    </a>
    <h2>Listado de Fotografos: </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fotografo of fotografos">
          <td>{{fotografo.nomFotografo}}</td>
          <td>{{fotografo.dirFotografo}}</td>
          <td>{{fotografo.telfFotografo}}</td>
          <td>
            <a [routerLink]="['/actualizarFotografo',fotografo.idFotografo]" class="btn btn-success">
              Editar
            </a>
            <a (click)="eliminarFotografo(fotografo.idFotografo)" class="btn btn-danger">
              Eliminar
            </a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>