<div class="login-page col-sm-offset-2">
    <div class="login-box center col-sm-12">
        <a [routerLink]="['/registrarse']" class="btn btn-success">
            Registrate Aqui
        </a>
        <div class="row col-sm-12">
            <div class="col-sm-8">
                <img src="app/assets/images/logo.jpg" width="25px" />
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-2">
                <label>Usuario</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="txtUsuario" placeholder="Usuario" [(ngModel)]="usuario.loginUsuario" />
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-2">
                <label>Password</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="txtContrasena" placeholder="Contrasena" [(ngModel)]="usuario.passUsuario" />
            </div>
        </div>
        <div class="row col-sm-12">
            <div class="col-sm-8">
                <button (click)="Ingresar()" class="btn btn-primary">Ingresar</button>
                <button (click)="Borrar()" class="btn btn-primary">Borrar</button>
            </div>
        </div>
    </div>
</div>